name: Update News Daily

on:
  schedule:
    - cron: '30 2 * * *'  # Runs at 02:30 UTC (which is 08:00 AM IST)
  workflow_dispatch:      # Allows you to click a button to run it manually

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install feedparser

      - name: Run script
        run: python build_site.py

      - name: Commit and Push changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add index.html
          git commit -m "Daily news update" || exit 0
          git push
